@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactMe>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">The Team</h1>
				<p>Find out who's behind the CMS.</p>
			</div>
		</div>

		<!-- Main container -->
		<div class="container">
            
            <div class="row section">
				<div class="col-md-12">
					<p>Meet the friendly faces of Umbraco HQ. Hardcore developers, communications astronauts, support warriors, friend makers... all of those smiley, 6.13 percent crazy, 
						simply amazing people that, together with our extraordinary community, make Umbraco happen.</p>
				</div>
			</div>

			<!-- Team Members section -->
			<div class="row section">
				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/SofieToft.jpg" />
						<p>
							<span class="font-weight-bold">Sofie Toft</span><br />
							Umbraco Documenter and Youtuber<br />
							<span class="font-weight-bold">Team: </span> SWAT / HDTV
						</p>
						<p>
							<span class="font-weight-bold">Umbraco me: </span>Documentationist/ Keeper of the Docs. Chatting Warrior Princess. Sofie in the Cloud.<br />
							<span class="font-weight-bold">Non-Umbraco me: </span>Crochetess. Gamer. Selfie-queen.
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/rabbit.jpg" />
						<p>
							<span class="font-weight-bold">The Rabbit</span><br />
							Umbraco HQ Entrance Guardian<br />
							<span class="font-weight-bold">Team: </span> Unicorn Square
						</p>
						<p>
							<span class="font-weight-bold">Umbraco me: </span>Protecting things. Scaring people. Sworn Codegarden attendee.<br />
							<span class="font-weight-bold">Non-Umbraco me: </span>Carrot enthusiast. Dreamer. Fashionista.
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/gabriel.jpg" />
						<p>
							<span class="font-weight-bold">Gabriel Ionut Brumea</span><br />
							Umbraco Coach and Cloud Counselor<br />
							<span class="font-weight-bold">Team: </span> Umbraco HQ
						</p>
						<p>
							<span class="font-weight-bold">Umbraco me: </span>Teaching Umbraco magic. The Rainbow in the Cloud.<br />
							<span class="font-weight-bold">Non-Umbraco me: </span>Football maniac. Occasional gamer. Super Athlete.
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/kristian.jpg" />
						<p>
							<span class="font-weight-bold">Kristian Jeppe Schou Guld</span><br />
							Support Warrior<br />
							<span class="font-weight-bold">Team: </span> SWAT
						</p>
						<p>
							<span class="font-weight-bold">Umbraco me: </span>Friendly warrior. Customer caretaker.<br />
							<span class="font-weight-bold">Non-Umbraco me: </span>Bicycling. Beer. "Watch out what you're saying, it's going on the internet."
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/shannon.jpg" />
						<p>
							<span class="font-weight-bold">Shannon Deminick</span><br />
							Director of Moon Based Operations<br />
							<span class="font-weight-bold">Team: </span> D-Team
						</p>
						<p>
							<span class="font-weight-bold">Umbraco me: </span>Core developer captain. Load balancing guru. Coding while you sleep. Maintainer of (too many) OSS projects.<br />
							<span class="font-weight-bold">Non-Umbraco me: </span>Coder. Surfer. Traveler. Canadian. Australian. Sausage Dog Owner.
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/rheannon.jpg" />
						<p>
							<span class="font-weight-bold">Rheannon Amanda Lefever</span><br />
							Support Warrior<br />
							<span class="font-weight-bold">Team: </span> SWAT
						</p>
						<p>
							<span class="font-weight-bold">Umbraco me: </span>Support Warrior from Outer Space. Breaker of things. Wannabe Umbraco TV celeb and trainer.<br />
							<span class="font-weight-bold">Non-Umbraco me: </span>Orbiting around Earth. Writing a daily Captain's Log. Meditating. Obtaining pilot's license.
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/michael.jpg" />
						<p>
							<span class="font-weight-bold">Michael Roholdt Larsen</span><br />
							Support Warrior<br />
							<span class="font-weight-bold">Team: </span> SWAT
						</p>
						<p>
							<span class="font-weight-bold">Umbraco me: </span>Support Warrior from the town of Umbraco. Savior of customers. Keyboard jockey.<br />
							<span class="font-weight-bold">Non-Umbraco me: </span>Beer enthusiast - especially Belgian beer. A father of two. In love with computer and drawn animation.
						</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="teammember">
						<img class="img-fluid" src="images/you.jpg" />
						<p>
							Perhaps <span class="font-weight-bold">YOU</span> are our brand new Support Warrior? Marvelous Developer? Friend Maker?
						</p>
					</div>
				</div>

			</div>

        </div>